<footer class="footer">
  <div class="footer-container">

    <div class="footer-column">
      <h3 class="footer-title">CONTACTO</h3>

      <p><i class="fa-solid fa-location-dot"></i> 17050 Collins Ave, North Miami Beach, FL 33160</p>
      <p><i class="fa-solid fa-phone"></i> +54 223-5940617</p>
      <p><i class="fa-solid fa-envelope"></i> info@centrodeportivo.com</p>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">HORARIO</h3>

      <p>Lunes - Viernes: 6:00 AM - 11:00 PM</p>
      <p>Sábado: 8:00 AM - 10:00 PM</p>
      <p>Domingo: 9:00 AM - 8:00 PM</p>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">SÍGUENOS</h3>

      <p>Mantente al día con nuestros eventos y promociones especiales.</p>

      <div class="footer-social">
    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-facebook"></i>
    </a>

    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-youtube"></i>
    </a>
    </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2023 Centro Deportivo. Todos los derechos reservados. Desde 1978 forjando campeones.
  </div>
</footer>